atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
brotlipy==0.7.0
certifi==2021.10.8
cssselect==1.1.0
cytoolz==0.11.0
fonttools==4.25.0
inflection==0.5.1
llvmlite==0.38.0
mccabe==0.6.1
navigator-updater==0.2.1
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==9.0.1
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
PyDispatcher==2.0.5
pydotplus==2.0.2
pyls-spyder==0.4.0
pyreadline==2.1
pytest==7.1.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytube==12.1.0
pytz==2021.3
pywin32==302
PyYAML==6.0
queuelib==1.5.0
scikit-learn-intelex==2021.6.3
sip==4.19.13
statsmodels==0.13.2
TBB==0.2
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
xgboost==1.5.0
xlwings==0.24.9
zict==2.0.0

